/* MoviePlayer.css */

.movie-player-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .movie-player-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .back-button {
    background-color: rgba(68, 39, 194, 0.9);
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #6a3fe9;
  }
  
  .video-wrapper {
    width: 100%;
    max-width: 800px; /* Maximum width for the video player */
    height: 450px; /* Fixed height for the video player */
    overflow: hidden; /* Hide overflow */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  }
  
  .video-frame {
    width: 100%;
    height: 100%;
    border: none; /* Remove default border */
  }
  